<div class="row">
    <div class="col-lg-12" style="float:none;margin:auto;">
      <nb-card>
        <nb-card-header style="text-align: center;">
          <b> Liste des Contacts</b>
        </nb-card-header>
        <nb-card-body>
            <table class='table table-bordered'>
            <thead style='background-color: #2d8ac7'>
                <tr>
                <th>#</th>
                <th style="text-align: center;">Titre  </th>
                <th style="text-align: center;">Référence </th>
                <th style="text-align: center;">Statut </th>
                <th style="text-align: center;">Liste de Contacts </th>
                <th style="text-align: center;">Actions </th>
                </tr>
            </thead>
            <tbody style='background-color:white'>
                <tr *ngFor="let g of ListeDeDiffusions;let i =index">
                <th scope='row'>{{i+1}}</th>
                <td>{{g.titre}} </td>
                <td>{{g.reference}}</td>
                <td *ngIf="g.statut===true"><button type="button" (click)="open(g.id)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#changeetat">
                    <span class="glyphicon glyphicon-search" ></span><i class="fa fa-check" aria-hidden="true"></i>
                    Actif
                  </button></td>
                <td *ngIf="g.statut===false"><button type="button" (click)="open(g.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#changeetat">
                    <span class="glyphicon glyphicon-search" ></span><i class="fa fa-ban" aria-hidden="true"></i>
                    Inactif
                  </button></td>
                <td>{{selected}}</td> 
                <td>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button (click)="open(g.id)" nbButton status="danger" data-bs-toggle="modal" data-bs-target="#delete"><i
                          class="fa fa-trash" aria-hidden="true"></i> </button>
                    </div>
    
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                      <button nbButton (click)="open(g.id)" status="warning" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                          class="fa fa-edit" aria-hidden="true"></i> </button>
                    </div>
    
                    <div class="btn-group mr-2" role="group" aria-label="Third group">
                      <button nbButton (click)="open(g.id)" status="success" data-bs-toggle="modal" data-bs-target="#exampleMod"><i
                          class="fa fa-eye" aria-hidden="true"></i> </button>
                    </div>
                </td>
                </tr>
            </tbody>        
            </table>
        </nb-card-body>
        </nb-card>   
        <div class="modal modal-danger fade" id="changeetat" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Bloquer / Débloquer cette Liste de Diffusion
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                <strong>Voulez vous débloquer/bloquer cette Liste de Diffusion ? {{dataListediff?.titre }}</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="changes(dataListediff?.id)">Valider</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal modal-danger fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Suppression Liste de Diffusion
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                <strong>Vous voulez vraiment supprimer la liste de diffusion {{dataListediff?.titre }}</strong>
                </p>
                <p>
                Toutes les informations associées à cette Liste de Diffusion seront supprimées définitivement.
                <span class="text-danger">Cette opération ne peut pas être annulée.</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="supprimerlistediffusion(dataListediff?.id)">Ok, Supprimer</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #form ="ngForm" >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Titre</label>
                                <input [(ngModel)]="listediffusion.Titre" nbInput value="{{dataListediff?.titre}}"
                                    fullWidth #nameInput="ngModel" name="Titre" type="text" 
                                    minlength="2" maxlength="50">
                            </div>
                        </div>
                         <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Référence</label>
                                <input [(ngModel)]="listediffusion.Reference" nbInput value="{{dataListediff?.reference}}"
                                    fullWidth #nameInput="ngModel" name="Reference" type="text" 
                                    minlength="2" maxlength="50">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="editlisediffusion(dataListediff?.id,form)" >Enregistrer</button>
                </div>
            </form> 
            </div>
        </div>
        </div>

        <div class="modal fade" id="exampleMod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Informations de la Liste de diffusion  {{dataListediff?.Titre}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <b> Titre :</b>  {{dataListediff?.titre}}<br>
                <b> Référence :</b>  {{dataListediff?.reference}}<br>
                <b *ngIf="dataListediff?.statut===true"> Statut :</b> <span *ngIf="dataListediff?.statut===true" style="color: green;">  ACTIF</span>
                <b *ngIf="dataListediff?.statut===false"> Statut :</b>  <span *ngIf="dataListediff?.statut===false" style="color: red;"> INACTIF</span>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fermer</button>
                </div>
                </div>
            </div>
            </div>
    </div>
</div>

