<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
                <ng-template #labelOne>Etape 1</ng-template>
                <div class="col-lg-8" style="float:none;margin:auto;">
                    <nb-card>
                        <nb-card-header style="text-align: center;">Ajout d'une nouvelle liste de diffusion</nb-card-header>
                        <nb-card-body>
                            <form #form="ngForm">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="inputTitre" class="label">Titre </label>
                                            <input [(ngModel)]="listediffusion.Titre" nbInput placeholder="Entrer le titre "
                                                fullWidth #nameInput="ngModel" name="Titre" type="text" required
                                                minlength="2" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>
                <button nbButton nbStepperNext status="success" [disabled]="!form.valid"><i class="fa fa-arrow-right"
                    aria-hidden="true"></i></button>
            </nb-step>
            <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Etape 2</ng-template>
                <nb-card>
                <nb-card-header style="text-align: center;">Ajout des contacts de la liste de diffusion</nb-card-header>
                <nb-card-body>
                
                <div class="row">
                    <div class="col-12 ">
                        <ng-select bindLabel="name"
                        placeholder="Selectionner les contacts de la liste"
                        appendTo="body"
                        multiple="true"
                        [searchable]="true" 
                        [clearable]="true"
                        [(ngModel)]="selected">
                        <ng-option [value]="item.id "[disabled]="item.disabled" *ngFor="let item of contacts">
                        
                            {{item.nom}}  {{item.prenom}} 
                        </ng-option>
                        </ng-select>
                    </div>
                </div>
                </nb-card-body>
                </nb-card>
                <button nbButton nbStepperPrevious status="warning"><i class="fa fa-arrow-left"
                    aria-hidden="true"></i></button>
                <button nbButton nbStepperNext status="success" ><i class="fa fa-arrow-right"
                    aria-hidden="true"></i></button>
            </nb-step>
            <nb-step label="Etape 3">
                <nb-card>
                    <nb-card-header style="text-align: center;">Informations de la Liste de diffusion</nb-card-header>
                    <nb-card-body>
                        <form #form="ngForm">
                            <div class="row">
                                <div class="col-sm-6" style="text-align: left;">
                                    <div class="form-group">
                                        <b> Titre : </b> {{listediffusion.Titre}}<br>
                                    </div>
                                </div>

                                <div class="col-sm-6" style="text-align: left;">
                                    <div class="form-group" >
                                        <b> Liste de Contacts : </b>
                                        <div *ngFor="let select of selected">
                                        {{select}}<br> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <br>
                                    <button type="submit" nbButton status="success"
                                        style="float: right;" (click)="valider()">Valider</button>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
                <button nbButton nbStepperPrevious status="warning"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></button>
            </nb-step>

        </nb-stepper>
    </nb-card-body>

