<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
                <ng-template #labelOne>Etape 1</ng-template>
                <div class="col-lg-8" style="float:none;margin:auto;">
                    <nb-card>
                        <nb-card-header style="text-align: center;">Ajout d'un nouveau contact</nb-card-header>
                        <nb-card-body>
                            <form #form="ngForm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="label">Nom </label>
                                            <input [(ngModel)]="text" nbInput placeholder="Entrer le nom " fullWidth
                                                #nameInput="ngModel" name="NomComplet" type="text" required
                                                minlength="2" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Prénom</label>
                                            <input [(ngModel)]="text" nbInput placeholder="Entrer le prénom " fullWidth
                                                #nameInput="ngModel" name="Adresse" type="text" required minlength="2"
                                                maxlength="50">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Date de naissance</label>
                                            <input [(ngModel)]="text" nbInput placeholder="02/05/2051" fullWidth
                                                #nameInput="ngModel" name="datenaissance" type="date">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Sexe</label>
                                            <nb-radio-group _ngcontent-tph-c356="">
                                                <nb-radio _ngcontent-tph-c356="" _nghost-tph-c183=""
                                                    class="status-basic"><label _ngcontent-tph-c183=""><input
                                                            _ngcontent-tph-c183="" type="radio"
                                                            class="native-input visually-hidden" name="undefined"
                                                            value="Feminin"><span _ngcontent-tph-c183=""
                                                            class="outer-circle"></span><span _ngcontent-tph-c183=""
                                                            class="inner-circle"></span><span _ngcontent-tph-c183=""
                                                            class="text">
                                                            Féminin
                                                        </span></label></nb-radio>
                                                <nb-radio _ngcontent-tph-c356="" _nghost-tph-c183=""
                                                    class="status-basic"><label _ngcontent-tph-c183=""><input
                                                            _ngcontent-tph-c183="" type="radio"
                                                            class="native-input visually-hidden" name="undefined"
                                                            value="Masculin"><span _ngcontent-tph-c183=""
                                                            class="outer-circle"></span><span _ngcontent-tph-c183=""
                                                            class="inner-circle"></span><span _ngcontent-tph-c183=""
                                                            class="text">
                                                            Masculin
                                                        </span></label></nb-radio>

                                            </nb-radio-group>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Pays</label>
                                            <select class="form-control" name="pays" id="pays">
                                                <option value="" disabled selected>Veuillez choisir un pays</option>
                                                <option *ngFor="let country of countries" [value]="country.name">
                                                    {{country.name}} ({{country.code}})
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Adresse</label>
                                            <input [(ngModel)]="text" nbInput placeholder="Entrer l'Adresse " fullWidth
                                                #nameInput="ngModel" name="adresse" type="text" required minlength="2"
                                                maxlength="50">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="label">Situaion matrimoniale</label>
                                            <input [(ngModel)]="text" nbInput
                                                placeholder="Entrer la situation matrimoniale" fullWidth
                                                #nameInput="ngModel" name="situation" type="text" required minlength="2"
                                                maxlength="50">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Profession</label>
                                            <input [(ngModel)]="text" nbInput placeholder="Entrer la profession "
                                                fullWidth #nameInput="ngModel" name="profession" type="text" required
                                                minlength="2" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>

                <button nbButton disabled nbStepperNext>prev</button>
                <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Etape 2</ng-template>
                <div class="row">
                    <div class="col-4 ">
                        <h3><img src="../../../../assets/images/Whatsapp_37229.png" alt="Girl in a jacket" width="52"
                                height="52" data-bs-toggle="modal" data-bs-target="#whatsaap"></h3>
                    </div>
                    <div class="col-4 "><button type="submit" nbButton status="success" data-bs-toggle="modal" data-bs-target="#numero"> Ajouter un numéro</button></div>
                    <div class="modal modal-danger fade" id="numero" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Ajouter Numéro
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p class="text-center">
                            <strong>Voulez vous ajouter le numero ? " profil "</strong>
                          </p>
                          <input [(ngModel)]="text" nbInput
                              placeholder="Ajouter Numéro" fullWidth
                              #nameInput="ngModel" name="" type="text" required minlength="2"
                              maxlength="50">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annuler</button>
                          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Valider</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col-4 ">771768180 <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i></div>

                    <!-- Force next columns to break to new line -->
                    <div class="w-100"></div>

                    <div class="col-4 ">
                        <h3><img src="../../../../assets/images/facebook_icon-icons.com_59205.png" alt="Girl in a jacket" width="50"
                                height="50"></h3>
                    </div>
                    <div class="col-4 "><button type="submit" nbButton status="info" data-bs-toggle="modal" data-bs-target="#facebook"> Ajouter un lien facebook</button></div>
                    <div class="modal modal-danger fade" id="facebook" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Ajouter Lien Facebook
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p class="text-center">
                            <strong>Voulez vous ajouter le lien ? " profil "</strong>
                          </p>
                          <input [(ngModel)]="text" nbInput
                              placeholder="Ajouter lien" fullWidth
                              #nameInput="ngModel" name="" type="text" required minlength="2"
                              maxlength="50">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annuler</button>
                          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Valider</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col-4 ">htps:/facebook.com/ <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i></div>
                    <div class="w-100"></div>
                    <div class="col-4 ">
                        <h3><img src="../../../../assets/images/iconfinder-mail-4341305_120538.png" alt="Girl in a jacket" width="48"
                                height="48" style="background-color: ;"></h3>

                    </div>
                    <div class="col-4 "><button type="submit" nbButton status="warning" data-bs-toggle="modal" data-bs-target="#adresse"> Ajouter une adresse</button></div>
                    <div class="modal modal-danger fade" id="adresse" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Ajouter Adresse
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p class="text-center">
                            <strong>Voulez vous ajouter l'adresse ? " profil "</strong>
                          </p>
                          <input [(ngModel)]="text" nbInput
                              placeholder="Ajouter Adresse" fullWidth
                              #nameInput="ngModel" name="" type="text" required minlength="2"
                              maxlength="50">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annuler</button>
                          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Valider</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col-4 ">thierno.241991@gmail.com <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i></div>
                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Etape 3">
                <h3>Liste Des Contacts</h3>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelFour">
                <ng-template #labelFour>Etape 4</ng-template>
                <h3>Validation</h3>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton disabled nbStepperNext>next</button>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>