<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
                <ng-template #labelOne>Etape 1</ng-template>
                <div class="col-lg-8" style="float:none;margin:auto;">
                    <nb-card>
                        <nb-card-header style="text-align: center;">Lancement campagne</nb-card-header>
                        <nb-card-body>
                            <form #form="ngForm">
                                <div class="row">
                                   
                                        <div class="form-group">
                                            <label for="inputFirstName" class="label">Titre </label>
                                            <input [(ngModel)]="camp.Titre" nbInput placeholder="Entrer le titre de la campagne "
                                                fullWidth #nameInput="ngModel" name="titre" type="text" required
                                                minlength="2" maxlength="50">
                                        </div>
                                </div>
                                <div class="row">
                                   
                                    <div class="form-group">
                                        <label for="inputFirstName" class="label">Description </label>
                                        <textarea [(ngModel)]="camp.Description" name="Description" #nameInput="ngModel" nbInput fullWidth placeholder="Entrer la description de la campagne" required minlength="2"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="inputFirstName" class="label">Type campagne</label>
                                        <select name="IdTypeCampagne" (change)="onChangeTDC($event.target.value)" id="IdTypeCampagne" [(ngModel)]="camp.IdTypeCampagne" class="col-sm-12 form-control" fullWidth
                                          required>
                                          <option value="" disabled selected>Veuillez choisir un type</option>
                                          <option *ngFor="let data of typecampagnes" [value]="data.id" [selected]="data.libelle == true">
                                            {{data.libelle}}</option>
                                        </select>
                                      </div>
                                    </div>
                               
                                
                               
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="inputFirstName" class="label">Niveau de visibilité</label>
                                        <select name="IdNiveauVisibilite" (change)="onChangeNDV($event.target.value)" id="IdNiveauVisibilite" [(ngModel)]="camp.IdNiveauVisibilite" class="col-sm-12 form-control" fullWidth
                                          required>
                                          <option value="" disabled selected>Veuillez choisir le niveau de visibilité</option>
                                          <option *ngFor="let data of niveaudevisbilite" [value]="data.id" [selected]="data.libelle == true">
                                            {{data.libelle}}</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>

                               
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Date de début</label>
                                            <input [(ngModel)]="camp.DateDeDebut" nbInput
                                                placeholder="02/05/2051" fullWidth #nameInput="ngModel"
                                                name="DateDeDebut" type="date" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Date de fin</label>
                                            <input [(ngModel)]="camp.DateDeFin" nbInput
                                                placeholder="02/05/2051" fullWidth #nameInput="ngModel"
                                                name="DateDeFin" type="date" required>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>

                <button nbButton disabled nbStepperNext status="warning"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></button>
                <button nbButton nbStepperNext status="success" [disabled]="!form.valid"><i class="fa fa-arrow-right"
                        aria-hidden="true"></i></button>
            </nb-step>
            <nb-step label="Etape 2" >
                <div class="col-lg-6" style="float:none;margin:auto;">
                    <nb-card>
                        <nb-card-header style="text-align: center;">Liste de diffusion</nb-card-header>
                        <nb-card-body>
                            <form #form2="ngForm">
                             
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <label for="inputFirstName" class="label">Liste de diffusion</label>
                                        <select name="idListeDiffusion" (change)="onChangeLDD($event.target.value)" id="idListeDiffusion" [(ngModel)]="idListeDiffusion" class="col-sm-12 form-control" fullWidth
                                          required>
                                          <option value="" disabled selected>Veuillez choisir la liste de diffusion</option>
                                          <option *ngFor="let data of listeDiffusion" [value]="data.id" [selected]="data.titre == true">
                                            {{data.titre}}</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                          <label for="inputFirstName" class="label">Modèle</label>
                                          <select name="idModel" id="idModel" [(ngModel)]="idModel" class="col-sm-12 form-control" fullWidth
                                            required (change)="onChangeModel($event.target.value)">
                                            <option value="" disabled selected>Veuillez choisir le modèle</option>
                                            <option *ngFor="let data of modeles" [value]="data.id" [selected]="data.libelle == true">
                                              {{data.libelle}}</option>
                                          </select>
                                        </div>
                                      </div>
                                </div>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>
                <button nbButton nbStepperPrevious status="warning"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></button>
                        <button nbButton nbStepperNext status="success" [disabled]="!form2.valid"><i class="fa fa-arrow-right"
                          aria-hidden="true"></i></button>
            </nb-step>
            <nb-step label="Etape 3">
              <div class="col-lg-12" style="float:none;margin:auto;">
                <nb-card>
                    <nb-card-header style="text-align: center;">Règle d'envoi</nb-card-header>
                    <nb-card-body>
                      <form #form3="ngForm">
                      <div class="row">

                        
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputFirstName" class="label">Nombe tentative</label>
                            <input [(ngModel)]="regleEnvoi.Frequence" nbInput placeholder="Entrer le nombre de tentative "
                            fullWidth #nameInput="ngModel" name="frequence" type="number" required
                            min="1" max="100">
                          </div>
                        </div>
                   
                    
                   
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputFirstName" class="label">Fréquence d'excution</label>
                            <input [(ngModel)]="regleEnvoi.NombreTentative" nbInput placeholder="Entrer la fréquence "
                            fullWidth #nameInput="ngModel" name="nombreTentative" type="number" required
                            min="1" max="100">
                          </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">Expéditeur</label>
                          <input [(ngModel)]="regleEnvoi.Expediteur" nbInput placeholder="Entrer l'expéditeur "
                          fullWidth #nameInput="ngModel" name="expediteur" type="text" required
                          minlength="2" maxlength="100">
                        </div>
                      </div>
                 
                  
                 
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">Réceptuer</label>
                          <input [(ngModel)]="regleEnvoi.Recepteur" nbInput placeholder="Entrer le récepteur"
                          fullWidth #nameInput="ngModel" name="recepteur" type="text" required
                          minlength="2" maxlength="100">
                        </div>
                      </div>
                  </div>

                   
                      </form>
                    </nb-card-body>
                </nb-card>
              </div>
                <button nbButton nbStepperPrevious status="warning"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></button>
                        <button nbButton nbStepperNext status="success" [disabled]="!form3.valid"><i class="fa fa-arrow-right"
                          aria-hidden="true"></i></button>
            </nb-step>
            <nb-step label="Etape 4">
              <div class="col-lg-12" style="float:none;margin:auto;">
                <nb-card>
                    <nb-card-header style="text-align: center;">Informations de la campagne</nb-card-header>
                    <nb-card-body>
                      <form #form="ngForm">
                          <div class="row" style="height: auto;">
                            <div class="column" style="border: 1px solid #e4e9f2;text-align: left;">
                                <b> Titre : </b> {{camp.Titre}}<br>
                                <b> Date Début :</b> {{camp.DateDeDebut}}<br>
                                <b> Date Fin : </b> {{camp.DateDeFin}}<br>
                                <b> Niveau de visibilité :</b> {{libelleNDV}}<br>
                                <b> Type de campagne :</b> {{libelleTDC}}<br>
                                <b> Modèle :</b> {{libelleModele}} <br>
                                <b> Créé par :</b> {{nomComplet}}<br>
                            </div>
                            <div class="column" style="border: 1px solid #e4e9f2;text-align: left;">
                              <b> Liste de diffusion :</b> {{libelleLDD}}<br>
                              <b> Nombre de tentative : </b> {{regleEnvoi.NombreTentative}}<br>
                              <b> Fréquence :</b> {{regleEnvoi.Frequence}}<br>
                              <b> Expéditeur : </b> {{regleEnvoi.Expediteur}}<br>
                              <b> Récepteur :</b> {{regleEnvoi.Recepteur}}<br>
                              <b> Fuseau Horaire :</b> {{regleEnvoi.FuseauHoraire}}<br>
                            </div>
                          </div>
                        <div class="form-group row">
                          <div class="offset-sm-3 col-sm-9">
                              <br>
                              <button type="submit" nbButton status="success" 
                                  style="float: right; margin-top: -2%;" (click)="valider()">Enregistrer</button>
                          </div>
                      </div>
                      </form>
                    </nb-card-body>
                </nb-card>
              </div>
                <button nbButton nbStepperPrevious status="warning"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></button>
                <button nbButton disabled nbStepperNext status="success"><i class="fa fa-arrow-right"
                        aria-hidden="true"></i></button>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>