<div class="row">
  <div class="col-lg-6" style="float:none;margin:auto;">
    <nb-card>
      <nb-card-header style="text-align: center;">Ajout d'une nouvelle Liste de Diffusion</nb-card-header>
      <nb-card-body>
        <form #form="ngForm" (ngSubmit)="Ajout(form)">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputFirstName" class="label">Libellé de la Liste de Diffusion</label>
                <input [(ngModel)]="liste.Titre" nbInput placeholder="Entrer le titre de la diffusion " fullWidth
                  #nameInput="ngModel" name="Titre" type="text" required minlength="2" maxlength="50">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputLastName" class="label">Niveau de visibilté</label>
                <select class="form-control" name="pays" id="pays" [(ngModel)]="liste.NiveauDeVisibilite"
                  name="NiveauDeVisibilite">
                  <option value="" disabled selected>Veuillez choisir le niveau de visiblité</option>
                  <option *ngFor="let ndvl of nv" [value]="ndvl.id">
                    {{ndvl.libelle}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <br>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputFirstName" class="label">Liste des contacts</label>
                <ng-select bindLabel="name" placeholder="Séléctionner les contacts" appendTo="body" multiple="true"
                  [searchable]="true" [clearable]="true" required [(ngModel)]="selected" name="selected">
                  <ng-option [value]="contacts.id" *ngFor="let contacts of contacts">
                    {{contacts.nom}} {{contacts.prenom}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <br>
              <button type="submit" nbButton status="success" style="float: right;"
                [disabled]="!form.valid"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Enregistrer</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>