@import '../../../@theme/styles/themes';
<<<<<<< HEAD

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  .modal-body input{
      display: block;
      width: 150px;
  }
}
=======
>>>>>>> 7c99457fcc21780c95ee36928f9e73464084d1af
