<div class="row">
    <div class="col-lg-12" style="float:none;margin:auto;">
      <nb-card>
        <nb-card-header style="text-align: center;">
          <b> Liste des contacts</b>
        </nb-card-header>
  
        <nb-card-body>
          <table class='table table-bordered'>
            <thead style='background-color: #2d8ac7'>
              <tr>
                <th>#</th>
                <th style="text-align: center;">Nom Complet</th>
                <th style="text-align: center;">Sexe </th>
                <th style="text-align: center;">Niveau de visibilité</th>
                <th style="text-align: center;">Statut</th>
                <th style="text-align: center;">Canaux</th>
                <th style="text-align: center;">Actions</th>
              </tr>
            </thead>
            <tbody style='background-color:white'>
              <tr *ngFor="let g of contacts;let i =index">
                <th scope='row'>{{i+1}}</th>
                <td style="text-align: center;">{{g.nom | uppercase}} {{g.prenom}}</td>
                <td style="text-align: center;">{{g.sexe}}</td>
                <td style="text-align: center;" *ngIf="g.idNiveauVisibilite===1">Public</td>
                <td style="text-align: center;" *ngIf="g.idNiveauVisibilite===2">Privé</td>
                <td style="text-align: center;" *ngIf="g.idNiveauVisibilite===3">Protégé</td>
                <td *ngIf="g.statut===true" style="text-align: center;"><button nbButton status="success" (click)="open(g.id)" data-bs-toggle="modal" data-bs-target="#changeetat">
                    <span class="glyphicon glyphicon-search" ></span><i class="fa fa-check" aria-hidden="true"></i>
                    Actif
                  </button></td>
                <td *ngIf="g.statut===false" style="text-align: center;"><button nbButton status="danger" (click)="open(g.id)"  data-bs-toggle="modal" data-bs-target="#changeetat">
                    <span class="glyphicon glyphicon-search" ></span><i class="fa fa-ban" aria-hidden="true"></i>
                    Inactif
                  </button></td>
                  <td  style="text-align: center;"><button nbButton status="success" (click)="open(g.id)" data-bs-toggle="modal" data-bs-target="#canaux">
                    <span class="glyphicon glyphicon-search" ></span><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
                    Voir les canaux
                  </button></td>
               
            
                <td>
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button (click)="open(g.id)" nbButton status="danger" data-bs-toggle="modal" data-bs-target="#delete"><i
                        class="fa fa-trash" aria-hidden="true"></i> </button>&nbsp;
                  </div>
  
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button nbButton (click)="open(g.id)" status="warning" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                        class="fa fa-edit" aria-hidden="true"></i> </button>&nbsp;
                  </div>
  
                  <div class="btn-group mr-2" role="group" aria-label="Third group">
                    <button nbButton (click)="open(g.id)" status="success" data-bs-toggle="modal" data-bs-target="#exampleMod"><i
                        class="fa fa-eye" aria-hidden="true"></i> </button>
                  </div>
                </td>
  
              </tr>
            <tbody>
          </table>
        </nb-card-body>
      </nb-card>
      <div class="modal modal-danger fade" id="changeetat" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Bloquer / Débloquer utilisateur
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-center">
              <strong>Voulez vous débloquer/bloquer le contact ? {{datacontact?.nom | uppercase}} {{datacontact?.prenom}}</strong>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="changestatut(datacontact?.id)">Valider</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-danger fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Suppression utilisateur
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-center">
              <strong>Vous voulez vraiment supprimer le contact {{datacontact?.nom | uppercase}} {{datacontact?.prenom}}</strong>
            </p>
            <p>
              Toutes les informations associées à ce profil utilisateur seront supprimées définitivement.
              <span class="text-danger">Cette opération ne peut pas être annulée.</span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"><i class="fas fa-undo"></i>&nbsp;Annuler</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="supprimeruser(datacontact?.id)"><i class="fas fa-trash"></i>&nbsp;Ok, Supprimer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form #form="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Modification</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="inputLastName" class="label">Date de naissanceeeeee</label>
                      <input  nbInput
                          fullWidth name="tiko" [(ngModel)]="tiko" value="{{cont.DateDeNaissance | date : 'yyyy-MM-dd'}}"
                       type="date" min="2019-02-06" max="2020-03-05">
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"><i class="fas fa-undo"></i>&nbsp;Annuler</button>
            <button type="button" class="btn btn-success" (click)="save(form)"><i class="fas fa-save" ></i>&nbsp;Enregistrer</button>
          </div>
        </div>
    </form>

      </div>
    </div>
    <div class="modal fade" id="exampleMod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Informations du contact {{datacontact?.prenom | uppercase}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <b> Matricule :</b>  {{datacontact?.matricule}}<br>
          <b> Nom :</b>  {{datacontact?.nom | uppercase}}<br>
          <b> Prenom :</b>  {{datacontact?.prenom}}<br>
          <b> DateDeNaissance :</b>  {{datacontact?.dateDeNaissance | date : 'yyyy-MM-dd'}}<br>
          <b> Sexe :</b>  {{datacontact?.sexe}}<br>
          <b> Pays :</b>  {{datacontact?.adresse}}<br>
          <b> Adresse :</b>  {{datacontact?.adresse}}<br>
          <b> Profession :</b>  {{datacontact?.profession}}<br>
          <b> Ajouter par :</b>  {{donneesUser?.nom | uppercase}} {{donneesUser?.prenom | uppercase}}<br>
          <b *ngIf="datacontact?.statut===true"> Statut :</b> <span *ngIf="datacontact?.statut===true" style="color: green;">  ACTIF</span>
          <b *ngIf="datacontact?.statut===false"> Statut :</b>  <span *ngIf="datacontact?.statut===false" style="color: red;"> INACTIF</span>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"><i class="fas fa-undo"></i>&nbsp;Fermer</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
